[General]
path_to_gclone =

C:\Users\fzz\Desktop\Telegram.exe -workdir C:/Users/fzz/Desktop/ -- tg://resolve/?domain=ahzhebot

telegram_token =
1325005300:AAGG7tPzD_Yz-iEteYpeLbksKW7lv-qQytQ
user_ids = -1
group_ids = -1

ad_string = GDclover 搬运bot，请<a href="{}">私聊本机器人</a>。
